<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>local.kmonad</string>
    <key>Program</key>
    <string>/Users/jakub/.local/bin/kmonad</string>
    <key>ProgramArguments</key>
    <array>             
      <string>/Users/jakub/.local/bin/kmonad</string>
      <string>/Users/jakub/Code/dotfiles/kmonad.kbd</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/kmonad.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/kmonad.err</string>
</dict>
</plist>
